# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать файлы и папки, создаваемые PyCharm
.idea/

# Игнорировать файлы конфигурации окружения
SardiniaPizza/.env
.env.*

# Игнорировать временные файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать скомпилированные Python файлы
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы базы данных
*.sqlite3

# Игнорировать лог файлы
*.log

# Игнорировать статические и медиа файлы, если они не управляются через Django (например, если они генерируются автоматически)
staticfiles/
media/

# Игнорировать файлы с тестовыми покрытиями
.coverage
htmlcov/

# Игнорировать файлы и папки, связанные с тестами
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Игнорировать файлы миграций
*/migrations/*
!*/migrations/__init__.py

# Игнорировать файлы и папки, связанные с редакторами и системами контроля версий
*.swp
*~
.project
.idea
.vscode/
*.sublime-project
*.sublime-workspace

# Игнорировать файлы и папки, созданные инструментами сборки
dist/
build/
*.egg-info/
.eggs/
